<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-9 col-lg-9" style="padding: 0 10px 0 0">
            <div class="customDiv">
                <div>
                    <img src = "images/chicagoBright.JPG" class="center-block img-responsive">
                </div>
            </div>
        </div>

        <div class="col-md-3 col-lg-3" style="padding: 0 0 0 0">
            <div class="rssFeed"> RSS FEED</div>
        </div>
    </div>
</div>
<!--// below is for sliding and rss feed-->

<!--<div class="container-fluid row-fluid">-->
    <!--<div class="col-md-9 col-lg-9 style=padding: 0 5px 0 0">-->
        <!--<div class="container-fluid slider">-->
            <!--&lt;!&ndash;<img src = "images/chicagoBright.JPG" class="center-block img-responsive">&ndash;&gt;-->
            <!--<img ng-repeat="slide in slides" class="slide slide-animation nonDraggableImage center-block img-responsive"-->
                 <!--ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"-->
                 <!--ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">-->

            <!--<a class="arrow prev" href="#" ng-click="nextSlide()"></a>-->
            <!--<a class="arrow next" href="#" ng-click="prevSlide()"></a>-->

            <!--<nav class="nav">-->
                <!--<div class="wrapper">-->
                    <!--<ul class="dots">-->
                        <!--<li class="dot" ng-repeat="slide in slides">-->
                            <!--<a href="#" ng-class="{'active':isCurrentSlideIndex($index)}"-->
                               <!--ng-click="setCurrentSlideIndex($index);">{{slide.description}}</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</nav>-->

        <!--</div>-->
    <!--</div>-->

    <!--<div class="col-md-3 col-lg-3">-->
        <!--&lt;!&ndash;<div class="rssFeed"> RSS FEED</div>&ndash;&gt;-->
        <!--<div ng-controller="facebookFeed">-->
            <!--&lt;!&ndash;<h2>Facebook feed</h2>&ndash;&gt;-->
            <!--<img ng-src="{{picture}}">-->

            <!--<ul class="feed">-->
                <!--<li ng-repeat="item in items" ng-hide="isEmpty(item.message)">-->
                    <!--{{item.message}}-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
</div>



































